@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.bg-image {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    /* black overlay */ url("../public/img/Banana_Leaves.png") center/cover
      no-repeat;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  /* Colors */
  --color-light: #fbfefa;
  --color-dark: #26333a;
  --color-primary: #22b123;
  --color-primary-var: #38b939;
  --color-secondary: #fece2e;
  --color-secondary-var: #ffea32;
  --color-danger: #e7000b;
  /* Disease Color */
  --color-black-sigatoka: #22b123;
  --color-cordana: #1b8e1c;
  --color-bmv: #0e470e;
  --color-moko: #feba17;
  --color-panama: #fece2e;
  --color-weevil: #fed858;
  /* Fonts */
  --font-raleway: var(--font-raleway);
  --font-clash-grotesk: var(--font-clash-grotesk);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-raleway), var(--font-clash-grotesk), sans-serif;
}

.border-test {
  border: 1px red solid;
}

.border-test-red {
  border: 1px red solid;
}
.border-test-green {
  border: 1px green solid;
}
.border-test-blue {
  border: 1px blue solid;
}
.border-test-yellow {
  border: 1px yellow solid;
}
.border-test-purple {
  border: 1px purple solid;
}
.border-test-orange {
  border: 1px orange solid;
}
.border-test-pink {
  border: 1px pink solid;
}
.border-test-gray {
  border: 1px gray solid;
}
.border-test-black {
  border: 1px black solid;
}
.border-test-white {
  border: 1px white solid;
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.round-image {
  border-radius: 6px;
}

/* Animations */

.animate-steps {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.rescale {
  animation-name: rescale;
}
.rotate {
  animation-name: rotate;
}
.shiftX {
  animation-name: shiftX;
}
.shiftY {
  animation-name: shiftY;
}
.shear {
  animation-name: shear;
}
.zoom {
  animation-name: zoom;
}
.flip {
  animation-name: flip;
}
.brightness {
  animation-name: brightness;
}

@keyframes rescale {
  0%,
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.4);
  }
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(40deg);
  }
}

@keyframes shiftX {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30%);
  }
}

@keyframes shiftY {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30%);
  }
}

@keyframes shear {
  0%,
  100% {
    transform: skewX(0deg);
  }
  50% {
    transform: skewX(25deg);
  }
}

@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

@keyframes flip {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
}

@keyframes brightness {
  0%,
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.3);
  }
}
